In [82]:
import pandas as pd 
import matplotlib.pyplot as plt
from pathlib import Path

merged_dir: Path 
clean_dir: Path
file_name: str
df: pd.DataFrame
target: str

mode: str
threshold: int
drop: list[str]

merged_dir = Path('../data/merged')
clean_dir = Path('../data/clean')
target = 'Win'

In [86]:
def clean(mode: str, turret_treshold: int | None, drop: list[str]) -> None:
    file_name: str
    df: pd.DataFrame

    file_name = f'num_{mode.upper()}.csv'
    print(file_name)

    df = pd.read_csv(merged_dir / file_name).set_index('#')
    print(df[target].value_counts(normalize=True))

    if turret_treshold:
        df[f'TurretDmgDealt>{turret_treshold}'] = (df['TurretDmgDealt'] > turret_treshold).astype(int) # numeric > boolean variable to simplify the analysis
    df = df.drop('TurretDmgDealt', axis=1) # not needed anymore or wasn't needed at all
    
    if drop:
        df = df.drop(drop, axis=1)

    df.to_csv(clean_dir / file_name, index=False)
    display(df)

In [87]:
argss = [ 
    ('aram', 1, ['CurrentMasteryPoints', 'DragonKills', 'BaronKills', 'visionScore', 'GameDuration']),
    ('cherry', None, ['CurrentMasteryPoints', 'DragonKills', 'BaronKills', 'visionScore', 'GameDuration']),
    ('classic', 3, ['CurrentMasteryPoints', 'visionScore', 'GameDuration']),
    ('swiftplay', 2, ['CurrentMasteryPoints', 'visionScore', 'DragonKills', 'BaronKills', 'GameDuration']),
    ('ultbook', 2, [])
]

for args in argss:
    clean(*args)

num_ARAM.csv
Win
1    0.515316
0    0.484684
Name: proportion, dtype: float64

,MinionsKilled,DmgDealt,DmgTaken,TotalGold,Win,kills,deaths,assists,TurretDmgDealt>1
#,,,,,,,,,
3,51,22206,14771,12374,1,8,4,35,1
9,42,51900,32851,18209,1,15,10,43,1
10,90,36541,16366,15324,1,17,3,28,1
11,34,33814,48062,15387,1,7,15,28,0
12,95,55151,25071,17434,1,17,10,35,1
...,...,...,...,...,...,...,...,...,...
303461,48,18660,24611,11253,1,8,8,23,0
303462,49,20215,31941,12360,0,5,10,23,0
303463,37,22720,30246,11726,0,4,11,22,0
303464,134,81900,41589,23313,1,24,15,48,1
303465,107,64903,41477,21376,1,30,14,24,1

num_CHERRY.csv
Win
1    0.511136
0    0.488864
Name: proportion, dtype: float64

,MinionsKilled,DmgDealt,DmgTaken,TotalGold,Win,kills,deaths,assists
#,,,,,,,,
4,0,39106,33572,15012,1,13,8,2
5,0,30259,21355,12000,1,6,6,4
24,0,39106,33572,15012,1,13,8,2
25,0,30259,21355,12000,1,6,6,4
80,0,48419,41903,16758,1,9,7,3
...,...,...,...,...,...,...,...,...
303173,0,11409,13023,7216,0,1,8,1
303285,0,72427,97997,21100,1,12,8,6
303286,0,39077,48890,14025,1,8,6,5
303290,0,23705,69403,14260,1,2,7,9
303295,0,24240,27194,10418,0,7,7,4

num_CLASSIC.csv
Win
1    0.503427
0    0.496573
Name: proportion, dtype: float64

,MinionsKilled,DmgDealt,DmgTaken,TotalGold,Win,kills,deaths,assists,DragonKills,BaronKills,TurretDmgDealt>3
#,,,,,,,,,,,
0,30,4765,12541,7058,0,0,2,12,0,0,0
1,29,8821,14534,9618,0,2,5,23,0,0,0
2,34,6410,19011,9877,1,0,5,22,0,0,0
6,28,3775,12061,6344,0,0,1,7,0,0,0
7,36,4217,13464,7403,0,1,5,6,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
303507,22,15020,32164,14017,1,7,6,10,2,1,0
303508,7,17297,33000,10679,0,4,6,10,1,0,0
303509,25,22245,37061,11535,0,9,5,4,1,0,0
303510,21,19405,33722,12423,0,8,6,4,1,0,0
303511,172,14023,15545,10514,0,7,6,4,0,0,0

num_SWIFTPLAY.csv
Win
1    0.548679
0    0.451321
Name: proportion, dtype: float64

,MinionsKilled,DmgDealt,DmgTaken,TotalGold,Win,kills,deaths,assists,TurretDmgDealt>2
#,,,,,,,,,
1499,184,32467,29705,17296,1,10,4,4,0
1519,184,32467,29705,17296,1,10,4,4,0
1600,140,8005,27563,12449,1,2,10,3,0
1601,119,6899,10682,8397,1,3,2,3,0
1602,98,18179,24075,11100,1,7,8,4,1
...,...,...,...,...,...,...,...,...,...
300071,122,19796,13171,9772,1,5,2,9,1
301107,79,12702,21580,10145,0,2,8,2,0
302293,193,29173,55986,20939,1,5,8,10,1
302313,194,29173,55986,20939,1,5,8,10,1
303333,96,44306,12100,12999,1,30,2,4,1

num_ULTBOOK.csv
Win
1    0.642857
0    0.357143
Name: proportion, dtype: float64

,MinionsKilled,DmgDealt,DmgTaken,TotalGold,Win,kills,deaths,assists,CurrentMasteryPoints,DragonKills,BaronKills,visionScore,GameDuration,TurretDmgDealt>2
#,,,,,,,,,,,,,,
3826,188,70142,42386,27123,0,27,9,9,236,0,0,18,1532,1
3846,199,70142,42386,27123,0,27,9,9,236,0,0,18,1532,1
12208,101,20063,26486,13677,1,5,7,16,99,0,0,19,1630,0
12209,103,16191,18135,10476,0,3,8,2,99,0,0,11,1263,0
12210,45,21365,17877,15223,1,7,6,22,99,0,0,45,1495,1
12211,88,15120,36787,15309,1,5,6,10,86,0,0,18,1588,1
12212,77,22430,22952,15523,1,4,7,20,99,0,0,37,1779,0
12213,52,19813,13844,10676,1,2,4,19,99,0,0,38,1198,1
12214,58,23795,29597,15259,1,5,11,14,99,0,0,41,1855,1
12228,104,20063,26486,13677,1,5,7,16,99,0,0,19,1630,0
12229,103,16191,18135,10476,0,3,8,2,99,0,0,11,1263,0
12230,45,21365,17877,15223,1,7,6,22,99,0,0,45,1495,1
12231,88,15120,36787,15309,1,5,6,10,86,0,0,18,1588,1
12232,77,22430,22952,15523,1,4,7,20,99,0,0,37,1779,0
12233,52,19813,13844,10676,1,2,4,19,99,0,0,38,1198,1
12234,58,23795,29597,15259,1,5,11,14,99,0,0,41,1855,1
13594,155,17279,27188,16414,1,6,3,6,86,0,0,1,1365,1
13595,83,6085,13364,9607,0,3,7,3,202,0,0,5,1083,0
13598,83,30729,28438,16184,0,14,10,5,202,0,0,0,1347,0
13614,158,17279,27188,16414,1,6,3,6,86,0,0,1,1365,1
13615,85,6085,13364,9607,0,3,7,3,202,0,0,5,1083,0
13618,85,30729,28438,16184,0,14,10,5,202,0,0,0,1347,0
104822,48,48197,59604,21509,0,13,10,6,102,1,1,20,1658,0
104823,32,32169,47069,18850,1,14,5,11,233,4,1,13,1270,0
104824,32,41655,37443,17142,1,10,6,15,9,3,1,22,1598,0
104842,124,48197,59604,21509,0,13,10,6,102,1,1,20,1658,0
104843,80,32169,47069,18850,1,14,5,11,233,4,1,13,1270,0
104844,88,41655,37443,17142,1,10,6,15,9,3,1,22,1598,0